apiVersion: v1
kind: Namespace
metadata:
  name: kafka
  labels:
    istio.io/dataplane-mode: ambient
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-cm
  namespace: kafka
data:
  KAFKA_NODE_ID: "1"
  KAFKA_PROCESS_ROLES: "broker,controller"
  KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
  KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://192.168.66.150:9092"
  KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
  KAFKA_CONTROLLER_QUORUM_VOTERS: "1@localhost:9093"
  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"
  KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: "0"
  KAFKA_NUM_PARTITIONS: "3"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: kafka
spec:
  ports:
    - port: 9092
      targetPort: 9092
      name: tcp-kafka
      appProtocol: kafka
  selector:
    app: kafka
    app.kubernetes.io/version: 4.1.0
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-hl
  namespace: kafka
spec:
  clusterIP: None
  ports:
    - port: 9092
      targetPort: 9092
      name: tcp-kafka
      appProtocol: kafka
  selector:
    app: kafka
    app.kubernetes.io/version: 4.1.0
---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: kafka
  namespace: kafka
spec:
  parentRefs:
    - name: istio-gateway
      kind: Gateway
      namespace: istio-system
      sectionName: tcp-kafka
  rules:
    - backendRefs:
        - name: kafka
          port: 9092
          namespace: kafka
          kind: Service
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  namespace: kafka
  name: kafka
spec:
  selector:
    matchLabels:
      app: kafka
      app.kubernetes.io/version: 4.1.0
  serviceName: kafka-hl
  template:
    metadata:
      name: kafka
      labels:
        app: kafka
        app.kubernetes.io/version: 4.1.0
    spec:
      containers:
        - name: kafka
          imagePullPolicy: IfNotPresent
          image: apache/kafka:4.1.0
          envFrom:
            - configMapRef:
                name: kafka-cm
          ports:
            - containerPort: 9092
          startupProbe:
            initialDelaySeconds: 10
            failureThreshold: 5
            tcpSocket:
              port: 9092
          livenessProbe:
            initialDelaySeconds: 15
            failureThreshold: 5
            tcpSocket:
              port: 9092
          readinessProbe:
            initialDelaySeconds: 10
            failureThreshold: 5
            tcpSocket:
              port: 9092
          volumeMounts:
            - mountPath: /etc/localtime
              name: time
      volumes:
        - name: time
          hostPath:
            path: /etc/localtime
            type: File
